body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #008CBA;
	color: #fff;
	padding: 20px;
	text-align: center;
}

main {
	padding: 20px;
}

form {
	display: flex;
	flex-direction: column;
}

form label {
	margin-bottom: 10px;
}

form button {
	padding: 10px;
	align-self: center;
}

#result {
	margin-top: 20px;
	padding: 20px;
	background-color: #eee;
	border: 1px solid #ccc;
	font-size: 24px;
	text-align: center;
}

footer {
	background-color: #008CBA;
	color: #fff;
	padding: 10px;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}