body{
  padding: 0px 40px;
}
@media only screen and (max-width: 1400px) {
  table {
    width: 600px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.32);
    border-radius: 10px;
    font-size: 12px;
  }
  .calc-title {
    font-size: 65px;
    margin-bottom: 25px;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
  }
  .calc-header{
    display: flex;
    flex-direction: column;
    height: 230px;
    background: linear-gradient(to bottom, #368304, #003f4e);
    border-radius: 100px 0px 100px 0px;
    padding: 30px;
    margin-bottom: 30px;
    margin-top:100px
  }
  .calc-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
    padding: 0px 30px 30px 30px;
    background: url('../images/calcback1.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
  }
  .form__group {
    position: relative;
    padding: 7px 0 0;
    margin-top: 10px;
    width: 90%;
    margin-bottom: 20px;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 12px;
    cursor: text;
    top: -5px;
  }
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: #194c48;
  }
   .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 13px;
    color: #3d3d3d;
    font-weight: 700;
  }
  

  
}









@media only screen and (min-width: 1400px) {
  table {
    width:750px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.32);
    border-radius: 10px;
    font-size: 14px;
  }
  .calc-title{
    font-size: 80px;
    margin-bottom: 25px;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
    }
  .calc-header{
    display: flex;
    flex-direction: column;
    height: 230px;
    background: linear-gradient(to bottom, #368304, #003f4e);
    border-radius: 100px 0px 100px 0px;
    padding: 30px;
    margin-bottom: 50px;
    margin-top:150px;
  }
  .calc-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    padding: 0px 30px 30px 30px;
    background: url('../images/calcback1.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
  }
  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 90%;
    margin-bottom: 20px;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 16px;
    cursor: text;
    top: -12px;
  }
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 14px;
    color: #194c48;
  }
  
   .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #3d3d3d;
    font-weight: 700;
  }
  

  
}











.calc-type-title h4{
  font-size: 15px !important;
}


.calc-header p{
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}


.section-heading{
  text-align: center;
    margin-bottom: 30px;
    width: 100%;
    padding: 20px 0px 0px 0px;
    background: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.6),
      rgba(233, 233, 233, 0.1)
    );
    backdrop-filter: blur(12px);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 30px 30px;  

    
}
.calculator-module{
    display: flex;
    width: 100%;
    padding: 30px 30px;
    position: relative;
    background: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.6),
      rgba(233, 233, 233, 0.1)
    );
    backdrop-filter: blur(12px);
    border-radius: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);

}
.calc-quiz{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;

}
.calc-form-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
   
}
.calc-types{
  display: flex;
    flex-direction: row;
    width: 100%;
}
.calc-type-title{
  display: flex;
  align-items: baseline;
}

.household-calc , .transport-calc{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.recycle-calc{
  display: flex;
  flex-direction: column;
  width: 20%;
}
.calc-meter{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: relative;

}
.calc-meters-type{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
    position: relative;
}
.calc-metars-type{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    width: 50%;
    margin-bottom: 100px;
    position: relative;
    z-index: 2;
}
.calc-metars-result-bar{
  display: flex;
  width: 50%;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.calc-result{
  font-size: 30px;
  color: black;
}
.calc-results{
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-bottom: 200px;

}
.calc-output-section{
  display: flex;
  flex-direction: row;
  position: relative;
  height: 400px;
  background: white;
}
.calc-question{
  display: flex;
  flex-direction: column;
}

.calc-result-box{
  position: absolute;
  top: 50px;
  height: 300px;
  width: 350px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 10px rgb(0 0 0 / 10%);
  text-align: center;
}

.alert-box {
  display: none;
}
.warning-box{
  display: none;
}
.ideal-box{
  display: none;
}
.congrats-box{
  display: none;
}
.read-more{
  width: 100px;
  border-radius: 25px;
  text-decoration: none;
  height: 30px;
  font-weight: 700;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
} 
.alert-btn-clr{
  background: linear-gradient(181deg, #ff0000, #740000);
  color: white;
}
.warning-btn-clr{
  background: linear-gradient(181deg, #ffb700, #743c00);
  color: white;
}
.ideal-btn-clr{
  background: linear-gradient(181deg, #6aff00, #007413);
  color: white;
}

.oil , .gas, .electricity , .car , .flight , .recycle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.alert-msg{
  color: darkred;
  font-weight: 600;
}
.warning-msg{
  color: rgb(255, 145, 0);
  font-weight: 600;
}
.ideal-msg{
  color: lime;
  font-weight: 600;
}
.congrats{
  color: darkgreen;
  font-weight: 600;
}




.bilerr{
  color: #ff000091;
  font-size: 10px;
  margin-top: 4px;
}




/* OIL */
  .water-jar {
    height: 125px;
    width: 60px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #020438;
    border-radius: 10px;
    overflow: hidden;
    }
  .water-jar .water-filling {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    font-size: 12px;
    flex-direction: column;
  }
  .water-jar .water {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
    background: #4D6DE3;
  }
  .water-jar .water_wave {
    width: 200%;
    position: absolute;
    bottom: 100%;
  }
  .water-jar .water_wave_back {
    right: 0;
    fill: #C7EEFF;
    -webkit-animation: wave-back 1.4s infinite linear;
            animation: wave-back 1.4s infinite linear;
  }
  .water-jar .water_wave_front {
    left: 0;
    fill: #4D6DE3;
    margin-bottom: -1px;
    -webkit-animation: wave-front .7s infinite linear;
            animation: wave-front .7s infinite linear;
  }
  @-webkit-keyframes wave-front {
    100% {
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
    }
  }
  @keyframes wave-front {
    100% {
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
    }
  }
  @-webkit-keyframes wave-back {
    100% {
      -webkit-transform: translate(50%, 0);
              transform: translate(50%, 0);
    }
  }
  @keyframes wave-back {
    100% {
      -webkit-transform: translate(50%, 0);
              transform: translate(50%, 0);
    } 
  }
  .the-clients{
      background: #fff;
      height: 800px;
      padding: 30px 30px;
  }


.container-table {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


th,
td {
    padding: 10px;
	background-color: rgba(0, 0, 0, 0.43);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color:rgb(54 131 4);
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(5, 162, 170, 0.587);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(205, 17, 17, 0.2);
				z-index: -1;
			}
		}
	}
}





  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #212121;
    outline: 0;
    font-size: 12px;
    color: #3c3b3b;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }

  
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
 
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
  


  .resilt{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    color: black;
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .resultinkg , .resultinmetrictons{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    color: #033649;
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .messagecarbon{
    padding: 10px;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    color: black;
  }














/* COOLING GAS */
  
  @keyframes scaleUpDown {
    0%, 100% {
      transform: scaleY(1) scaleX(1);
    }
    50%, 90% {
      transform: scaleY(1.1);
    }
    75% {
      transform: scaleY(0.95);
    }
    80% {
      transform: scaleX(0.95);
    }
  }
  @keyframes shake {
    0%, 100% {
      transform: skewX(0) scale(1);
    }
    50% {
      transform: skewX(5deg) scale(0.9);
    }
  }
  @keyframes particleUp {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: -100%;
      transform: scale(0.5);
    }
  }
  @keyframes glow {
    0%, 100% {
      background-color: #ef5a00;
    }
    50% {
      background-color: #ff7800;
    }
  }
  .fire {
    position: relative;
    width: 65px;
    height: 65px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
  }
  
  .fire-center {
    position: absolute;
    height: 100%;
    width: 100%;
    animation: scaleUpDown 3s ease-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
  .fire-center .main-fire {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(farthest-corner at 10px 0, #d43300 0%, #ef5a00 95%);
    transform: scaleX(0.8) rotate(45deg);
    border-radius: 0 40% 60% 40%;
    filter: drop-shadow(0 0 10px #d43322);
  }
  .fire-center .particle-fire {
    position: absolute;
    top: 60%;
    left: 45%;
    width: 10px;
    height: 10px;
    background-color: #ef5a00;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #d43322);
    animation: particleUp 2s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
  
  .fire-right {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: shake 2s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
  .fire-right .main-fire {
    position: absolute;
    top: 15%;
    right: -25%;
    width: 80%;
    height: 80%;
    background-color: #ef5a00;
    transform: scaleX(0.8) rotate(45deg);
    border-radius: 0 40% 60% 40%;
    filter: drop-shadow(0 0 10px #d43322);
  }
  .fire-right .particle-fire {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: #ef5a00;
    transform: scaleX(0.8) rotate(45deg);
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #d43322);
    animation: particleUp 2s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
  
  .fire-left {
    position: absolute;
    height: 100%;
    width: 100%;
    animation: shake 3s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
  .fire-left .main-fire {
    position: absolute;
    top: 15%;
    left: -20%;
    width: 80%;
    height: 80%;
    background-color: #ef5a00;
    transform: scaleX(0.8) rotate(45deg);
    border-radius: 0 40% 60% 40%;
    filter: drop-shadow(0 0 10px #d43322);
  }
  .fire-left .particle-fire {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 10%;
    height: 10%;
    background-color: #ef5a00;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #d43322);
    animation: particleUp 3s infinite ease-out 0;
    animation-fill-mode: both;
  }
  
  .fire-bottom .main-fire {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 75%;
    height: 75%;
    background-color: #ff7800;
    transform: scaleX(0.8) rotate(45deg);
    border-radius: 0 40% 100% 40%;
    filter: blur(10px);
    animation: glow 2s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }

  .fireoil{
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    bottom: 2pc;
  }
  .fireoils{
    position: absolute;
    font-size: 15px;
    font-weight: 600;
    bottom: 0pc;
  }







  /* AIRPLANE */
 
  .loading-flight-animation {
    position: relative;
    justify-content: center;
    -moz-transform: translate(-20%, 0%);
    -ms-transform: translate(-20%, 0%);
    -o-transform: translate(-20%, 0%);
    transform: translate(-20%, 0%);
  }
  .loading-flight-animation .cloud {
    width: 110px;
    height: 10px;
    background: #f7e7eb;
    border-radius: 10px;
    position: relative;
    margin: 33px 0 0 0;
  }
  .loading-flight-animation .cloud div {
    box-shadow: inset -2px -3px 0 0 #f7e7eb;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -6px;
    bottom: 0;
    background: #fafbf0;
    z-index: 10;
  }
  .loading-flight-animation .cloud div:nth-child(2) {
    transform: scale(1.6, 1.6);
    margin: 0 0 8px 26px;
    z-index: 9;
  }
  .loading-flight-animation .cloud div:nth-child(3) {
    transform: scale(1.8, 1.8);
    margin: 0 0 18px 64px;
    z-index: 8;
  }
  .loading-flight-animation .cloud div:nth-child(4) {
    transform: scale(1.3, 1.3);
    margin: 0 0 4px 100px;
    z-index: 7;
  }
  @-webkit-keyframes cloud {
    0% {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
      -webkit-transform: translateX(0);
    }
  }
  @-moz-keyframes cloud {
    0% {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
      -webkit-transform: translateX(0);
    }
  }
  @-ms-keyframes cloud {
    0% {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
      -webkit-transform: translateX(0);
    }
  }
  @keyframes cloud {
    0% {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
      -webkit-transform: translateX(0);
    }
  }
  @-webkit-keyframes vibrate {
    0% {
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      -ms-transform: translate(0);
      -o-transform: translate(0);
      transform: translate(0);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
      -moz-transform: translate(2px, -2px);
      -ms-transform: translate(2px, -2px);
      -o-transform: translate(2px, -2px);
      transform: translate(2px, -2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
      -moz-transform: translate(2px, 2px);
      -ms-transform: translate(2px, 2px);
      -o-transform: translate(2px, 2px);
      transform: translate(2px, 2px);
    }
    60% {
      -webkit-transform: translate(-2px, 2px);
      -moz-transform: translate(-2px, 2px);
      -ms-transform: translate(-2px, 2px);
      -o-transform: translate(-2px, 2px);
      transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
      -moz-transform: translate(-2px, -2px);
      -ms-transform: translate(-2px, -2px);
      -o-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      -ms-transform: translate(0);
      -o-transform: translate(0);
      transform: translate(0);
    }
  }
  @-moz-keyframes vibrate {
    0% {
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      -ms-transform: translate(0);
      -o-transform: translate(0);
      transform: translate(0);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
      -moz-transform: translate(2px, -2px);
      -ms-transform: translate(2px, -2px);
      -o-transform: translate(2px, -2px);
      transform: translate(2px, -2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
      -moz-transform: translate(2px, 2px);
      -ms-transform: translate(2px, 2px);
      -o-transform: translate(2px, 2px);
      transform: translate(2px, 2px);
    }
    60% {
      -webkit-transform: translate(-2px, 2px);
      -moz-transform: translate(-2px, 2px);
      -ms-transform: translate(-2px, 2px);
      -o-transform: translate(-2px, 2px);
      transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
      -moz-transform: translate(-2px, -2px);
      -ms-transform: translate(-2px, -2px);
      -o-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      -ms-transform: translate(0);
      -o-transform: translate(0);
      transform: translate(0);
    }
  }
  @-ms-keyframes vibrate {
    0% {
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      -ms-transform: translate(0);
      -o-transform: translate(0);
      transform: translate(0);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
      -moz-transform: translate(2px, -2px);
      -ms-transform: translate(2px, -2px);
      -o-transform: translate(2px, -2px);
      transform: translate(2px, -2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
      -moz-transform: translate(2px, 2px);
      -ms-transform: translate(2px, 2px);
      -o-transform: translate(2px, 2px);
      transform: translate(2px, 2px);
    }
    60% {
      -webkit-transform: translate(-2px, 2px);
      -moz-transform: translate(-2px, 2px);
      -ms-transform: translate(-2px, 2px);
      -o-transform: translate(-2px, 2px);
      transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
      -moz-transform: translate(-2px, -2px);
      -ms-transform: translate(-2px, -2px);
      -o-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      -ms-transform: translate(0);
      -o-transform: translate(0);
      transform: translate(0);
    }
  }
  @keyframes vibrate {
    0% {
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      -ms-transform: translate(0);
      -o-transform: translate(0);
      transform: translate(0);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
      -moz-transform: translate(2px, -2px);
      -ms-transform: translate(2px, -2px);
      -o-transform: translate(2px, -2px);
      transform: translate(2px, -2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
      -moz-transform: translate(2px, 2px);
      -ms-transform: translate(2px, 2px);
      -o-transform: translate(2px, 2px);
      transform: translate(2px, 2px);
    }
    60% {
      -webkit-transform: translate(-2px, 2px);
      -moz-transform: translate(-2px, 2px);
      -ms-transform: translate(-2px, 2px);
      -o-transform: translate(-2px, 2px);
      transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
      -moz-transform: translate(-2px, -2px);
      -ms-transform: translate(-2px, -2px);
      -o-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      -ms-transform: translate(0);
      -o-transform: translate(0);
      transform: translate(0);
    }
  }
  .loading-flight-animation .cloud-1 {
    margin-left: -5%;
    transform: scale(1.4);
    -webkit-animation: cloud 5s infinite linear, vibrate 1.5s linear 5s infinite;
    -moz-animation: cloud 5s infinite linear, vibrate 1.5s linear 5s infinite;
    -ms-animation: cloud 5s infinite linear, vibrate 1.5s linear 5s infinite;
    -o-animation: cloud 5s infinite linear, vibrate 1.5s linear 5s infinite;
    animation: cloud 5s infinite linear, vibrate 1.5s linear 5s infinite;
  }
  .loading-flight-animation .cloud-2 {
    margin-left: 50%;
    margin-top: -20%;
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    -webkit-animation: vibrate 5s infinite linear, none;
    -moz-animation: vibrate 5s infinite linear, none;
    -ms-animation: vibrate 5s infinite linear, none;
    -o-animation: vibrate 5s infinite linear, none;
    animation: vibrate 5s infinite linear, none;
  }
  .loading-flight-animation .cloud-3 {
    margin-left: 20%;
    margin-top: 30%;
    transform: scale(1.3);
    z-index: 10;
    -webkit-animation: vibrate 3s infinite linear, none;
    -moz-animation: vibrate 3s infinite linear, none;
    -ms-animation: vibrate 3s infinite linear, none;
    -o-animation: vibrate 3s infinite linear, none;
    animation: vibrate 3s infinite linear, none;
  }
  @-webkit-keyframes plane {
    0% {
      -webkit-transform: translate(150%, 150%) rotate(-45deg) scale(0.3);
      -moz-transform: translate(150%, 150%) rotate(-45deg) scale(0.3);
      -ms-transform: translate(150%, 150%) rotate(-45deg) scale(0.3);
      -o-transform: translate(150%, 150%) rotate(-45deg) scale(0.3);
      transform: translate(150%, 150%) rotate(-45deg) scale(0.3);
    }
    50% {
      -webkit-transform: translate(100%, 100%) rotate(-45deg) scale(0.8);
      -moz-transform: translate(100%, 100%) rotate(-45deg) scale(0.8);
      -ms-transform: translate(100%, 100%) rotate(-45deg) scale(0.8);
      -o-transform: translate(100%, 100%) rotate(-45deg) scale(0.8);
      transform: translate(100%, 100%) rotate(-45deg) scale(0.8);
    }
    100% {
      -webkit-transform: translate(0) rotate(-45deg) scale(1);
      -moz-transform: translate(0) rotate(-45deg) scale(1);
      -ms-transform: translate(0) rotate(-45deg) scale(1);
      -o-transform: translate(0) rotate(-45deg) scale(1);
      transform: translate(0) rotate(-45deg) scale(1);
    }
  }
  @-moz-keyframes plane {
    0% {
      -webkit-transform: translate(150%, 150%) rotate(-45deg) scale(0.3);
      -moz-transform: translate(150%, 150%) rotate(-45deg) scale(0.3);
      -ms-transform: translate(150%, 150%) rotate(-45deg) scale(0.3);
      -o-transform: translate(150%, 150%) rotate(-45deg) scale(0.3);
      transform: translate(150%, 150%) rotate(-45deg) scale(0.3);
    }
    50% {
      -webkit-transform: translate(100%, 100%) rotate(-45deg) scale(0.8);
      -moz-transform: translate(100%, 100%) rotate(-45deg) scale(0.8);
      -ms-transform: translate(100%, 100%) rotate(-45deg) scale(0.8);
      -o-transform: translate(100%, 100%) rotate(-45deg) scale(0.8);
      transform: translate(100%, 100%) rotate(-45deg) scale(0.8);
    }
    100% {
      -webkit-transform: translate(0) rotate(-45deg) scale(1);
      -moz-transform: translate(0) rotate(-45deg) scale(1);
      -ms-transform: translate(0) rotate(-45deg) scale(1);
      -o-transform: translate(0) rotate(-45deg) scale(1);
      transform: translate(0) rotate(-45deg) scale(1);
    }
  }
  @-ms-keyframes plane {
    0% {
      -webkit-transform: translate(150%, 150%) rotate(-45deg) scale(0.3);
      -moz-transform: translate(150%, 150%) rotate(-45deg) scale(0.3);
      -ms-transform: translate(150%, 150%) rotate(-45deg) scale(0.3);
      -o-transform: translate(150%, 150%) rotate(-45deg) scale(0.3);
      transform: translate(150%, 150%) rotate(-45deg) scale(0.3);
    }
    50% {
      -webkit-transform: translate(100%, 100%) rotate(-45deg) scale(0.8);
      -moz-transform: translate(100%, 100%) rotate(-45deg) scale(0.8);
      -ms-transform: translate(100%, 100%) rotate(-45deg) scale(0.8);
      -o-transform: translate(100%, 100%) rotate(-45deg) scale(0.8);
      transform: translate(100%, 100%) rotate(-45deg) scale(0.8);
    }
    100% {
      -webkit-transform: translate(0) rotate(-45deg) scale(1);
      -moz-transform: translate(0) rotate(-45deg) scale(1);
      -ms-transform: translate(0) rotate(-45deg) scale(1);
      -o-transform: translate(0) rotate(-45deg) scale(1);
      transform: translate(0) rotate(-45deg) scale(1);
    }
  }
  @keyframes plane {
    0% {
      -webkit-transform: translate(150%, 150%) rotate(-45deg) scale(0.3);
      -moz-transform: translate(150%, 150%) rotate(-45deg) scale(0.3);
      -ms-transform: translate(150%, 150%) rotate(-45deg) scale(0.3);
      -o-transform: translate(150%, 150%) rotate(-45deg) scale(0.3);
      transform: translate(150%, 150%) rotate(-45deg) scale(0.3);
    }
    50% {
      -webkit-transform: translate(100%, 100%) rotate(-45deg) scale(0.8);
      -moz-transform: translate(100%, 100%) rotate(-45deg) scale(0.8);
      -ms-transform: translate(100%, 100%) rotate(-45deg) scale(0.8);
      -o-transform: translate(100%, 100%) rotate(-45deg) scale(0.8);
      transform: translate(100%, 100%) rotate(-45deg) scale(0.8);
    }
    100% {
      -webkit-transform: translate(0) rotate(-45deg) scale(1);
      -moz-transform: translate(0) rotate(-45deg) scale(1);
      -ms-transform: translate(0) rotate(-45deg) scale(1);
      -o-transform: translate(0) rotate(-45deg) scale(1);
      transform: translate(0) rotate(-45deg) scale(1);
    }
  }
  @-webkit-keyframes vibrate-plane {
    0% {
      -webkit-transform: translate(0) rotate(-45deg);
      -moz-transform: translate(0) rotate(-45deg);
      -ms-transform: translate(0) rotate(-45deg);
      -o-transform: translate(0) rotate(-45deg);
      transform: translate(0) rotate(-45deg);
    }
    20% {
      -webkit-transform: translate(2px, -2px) rotate(-45deg);
      -moz-transform: translate(2px, -2px) rotate(-45deg);
      -ms-transform: translate(2px, -2px) rotate(-45deg);
      -o-transform: translate(2px, -2px) rotate(-45deg);
      transform: translate(2px, -2px) rotate(-45deg);
    }
    40% {
      -webkit-transform: translate(2px, 2px) rotate(-45deg);
      -moz-transform: translate(2px, 2px) rotate(-45deg);
      -ms-transform: translate(2px, 2px) rotate(-45deg);
      -o-transform: translate(2px, 2px) rotate(-45deg);
      transform: translate(2px, 2px) rotate(-45deg);
    }
    60% {
      -webkit-transform: translate(-2px, 2px) rotate(-45deg);
      -moz-transform: translate(-2px, 2px) rotate(-45deg);
      -ms-transform: translate(-2px, 2px) rotate(-45deg);
      -o-transform: translate(-2px, 2px) rotate(-45deg);
      transform: translate(-2px, 2px) rotate(-45deg);
    }
    80% {
      -webkit-transform: translate(-2px, -2px) rotate(-45deg);
      -moz-transform: translate(-2px, -2px) rotate(-45deg);
      -ms-transform: translate(-2px, -2px) rotate(-45deg);
      -o-transform: translate(-2px, -2px) rotate(-45deg);
      transform: translate(-2px, -2px) rotate(-45deg);
    }
    100% {
      -webkit-transform: translate(0) rotate(-45deg);
      -moz-transform: translate(0) rotate(-45deg);
      -ms-transform: translate(0) rotate(-45deg);
      -o-transform: translate(0) rotate(-45deg);
      transform: translate(0) rotate(-45deg);
    }
  }
  @-moz-keyframes vibrate-plane {
    0% {
      -webkit-transform: translate(0) rotate(-45deg);
      -moz-transform: translate(0) rotate(-45deg);
      -ms-transform: translate(0) rotate(-45deg);
      -o-transform: translate(0) rotate(-45deg);
      transform: translate(0) rotate(-45deg);
    }
    20% {
      -webkit-transform: translate(2px, -2px) rotate(-45deg);
      -moz-transform: translate(2px, -2px) rotate(-45deg);
      -ms-transform: translate(2px, -2px) rotate(-45deg);
      -o-transform: translate(2px, -2px) rotate(-45deg);
      transform: translate(2px, -2px) rotate(-45deg);
    }
    40% {
      -webkit-transform: translate(2px, 2px) rotate(-45deg);
      -moz-transform: translate(2px, 2px) rotate(-45deg);
      -ms-transform: translate(2px, 2px) rotate(-45deg);
      -o-transform: translate(2px, 2px) rotate(-45deg);
      transform: translate(2px, 2px) rotate(-45deg);
    }
    60% {
      -webkit-transform: translate(-2px, 2px) rotate(-45deg);
      -moz-transform: translate(-2px, 2px) rotate(-45deg);
      -ms-transform: translate(-2px, 2px) rotate(-45deg);
      -o-transform: translate(-2px, 2px) rotate(-45deg);
      transform: translate(-2px, 2px) rotate(-45deg);
    }
    80% {
      -webkit-transform: translate(-2px, -2px) rotate(-45deg);
      -moz-transform: translate(-2px, -2px) rotate(-45deg);
      -ms-transform: translate(-2px, -2px) rotate(-45deg);
      -o-transform: translate(-2px, -2px) rotate(-45deg);
      transform: translate(-2px, -2px) rotate(-45deg);
    }
    100% {
      -webkit-transform: translate(0) rotate(-45deg);
      -moz-transform: translate(0) rotate(-45deg);
      -ms-transform: translate(0) rotate(-45deg);
      -o-transform: translate(0) rotate(-45deg);
      transform: translate(0) rotate(-45deg);
    }
  }
  @-ms-keyframes vibrate-plane {
    0% {
      -webkit-transform: translate(0) rotate(-45deg);
      -moz-transform: translate(0) rotate(-45deg);
      -ms-transform: translate(0) rotate(-45deg);
      -o-transform: translate(0) rotate(-45deg);
      transform: translate(0) rotate(-45deg);
    }
    20% {
      -webkit-transform: translate(2px, -2px) rotate(-45deg);
      -moz-transform: translate(2px, -2px) rotate(-45deg);
      -ms-transform: translate(2px, -2px) rotate(-45deg);
      -o-transform: translate(2px, -2px) rotate(-45deg);
      transform: translate(2px, -2px) rotate(-45deg);
    }
    40% {
      -webkit-transform: translate(2px, 2px) rotate(-45deg);
      -moz-transform: translate(2px, 2px) rotate(-45deg);
      -ms-transform: translate(2px, 2px) rotate(-45deg);
      -o-transform: translate(2px, 2px) rotate(-45deg);
      transform: translate(2px, 2px) rotate(-45deg);
    }
    60% {
      -webkit-transform: translate(-2px, 2px) rotate(-45deg);
      -moz-transform: translate(-2px, 2px) rotate(-45deg);
      -ms-transform: translate(-2px, 2px) rotate(-45deg);
      -o-transform: translate(-2px, 2px) rotate(-45deg);
      transform: translate(-2px, 2px) rotate(-45deg);
    }
    80% {
      -webkit-transform: translate(-2px, -2px) rotate(-45deg);
      -moz-transform: translate(-2px, -2px) rotate(-45deg);
      -ms-transform: translate(-2px, -2px) rotate(-45deg);
      -o-transform: translate(-2px, -2px) rotate(-45deg);
      transform: translate(-2px, -2px) rotate(-45deg);
    }
    100% {
      -webkit-transform: translate(0) rotate(-45deg);
      -moz-transform: translate(0) rotate(-45deg);
      -ms-transform: translate(0) rotate(-45deg);
      -o-transform: translate(0) rotate(-45deg);
      transform: translate(0) rotate(-45deg);
    }
  }
  @keyframes vibrate-plane {
    0% {
      -webkit-transform: translate(0) rotate(-45deg);
      -moz-transform: translate(0) rotate(-45deg);
      -ms-transform: translate(0) rotate(-45deg);
      -o-transform: translate(0) rotate(-45deg);
      transform: translate(0) rotate(-45deg);
    }
    20% {
      -webkit-transform: translate(2px, -2px) rotate(-45deg);
      -moz-transform: translate(2px, -2px) rotate(-45deg);
      -ms-transform: translate(2px, -2px) rotate(-45deg);
      -o-transform: translate(2px, -2px) rotate(-45deg);
      transform: translate(2px, -2px) rotate(-45deg);
    }
    40% {
      -webkit-transform: translate(2px, 2px) rotate(-45deg);
      -moz-transform: translate(2px, 2px) rotate(-45deg);
      -ms-transform: translate(2px, 2px) rotate(-45deg);
      -o-transform: translate(2px, 2px) rotate(-45deg);
      transform: translate(2px, 2px) rotate(-45deg);
    }
    60% {
      -webkit-transform: translate(-2px, 2px) rotate(-45deg);
      -moz-transform: translate(-2px, 2px) rotate(-45deg);
      -ms-transform: translate(-2px, 2px) rotate(-45deg);
      -o-transform: translate(-2px, 2px) rotate(-45deg);
      transform: translate(-2px, 2px) rotate(-45deg);
    }
    80% {
      -webkit-transform: translate(-2px, -2px) rotate(-45deg);
      -moz-transform: translate(-2px, -2px) rotate(-45deg);
      -ms-transform: translate(-2px, -2px) rotate(-45deg);
      -o-transform: translate(-2px, -2px) rotate(-45deg);
      transform: translate(-2px, -2px) rotate(-45deg);
    }
    100% {
      -webkit-transform: translate(0) rotate(-45deg);
      -moz-transform: translate(0) rotate(-45deg);
      -ms-transform: translate(0) rotate(-45deg);
      -o-transform: translate(0) rotate(-45deg);
      transform: translate(0) rotate(-45deg);
    }
  }
  .loading-flight-animation i {
    position: absolute;
    top: -70%;
    left: 58px;
    color: #34495e;
    font-size: 5rem;
    transform: rotate(-45deg);
    -webkit-animation: plane 4s linear, vibrate-plane 1s linear 4s infinite;
    -moz-animation: plane 4s linear, vibrate-plane 1s linear 4s infinite;
    -ms-animation: plane 4s linear, vibrate-plane 1s linear 4s infinite;
    -o-animation: plane 4s linear, vibrate-plane 1s linear 4s infinite;
    animation: plane 4s linear, vibrate-plane 1s linear 4s infinite;
  }
  @-webkit-keyframes star {
    0% {
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }
  }
  @-moz-keyframes star {
    0% {
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }
  }
  @-ms-keyframes star {
    0% {
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes star {
    0% {
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }
  }
  .loading-flight-animation .stars .star {
    -webkit-animation: star 1.5s infinite linear, none;
    -moz-animation: star 1.5s infinite linear, none;
    -ms-animation: star 1.5s infinite linear, none;
    -o-animation: star 1.5s infinite linear, none;
    animation: star 1.5s infinite linear, none;
    position: absolute;
  }
  .loading-flight-animation .stars .star-1 {
    top: -40px;
    left: -20px;
  }
  .loading-flight-animation .stars .star-2 {
    top: -35px;
    right: 20px;
    animation-delay: 0.5s;
  }
  .loading-flight-animation .stars .star-3 {
    bottom: 5px;
    left: -15px;
    animation-delay: 1s;
  }


.car{
  justify-content: flex-start !important;
  height: 150px !important;
}



.dustbin{
  width: 50px;
  height: 70px;
  background-color: transparent;
  border: 2px solid #cbffdd;
}
.dustbin-design{
  width: 48px;
  height: 2px;
  background-color: #63d1c0;
  margin-top: 5px;
}
.dustbin-design-2{
  width: 2px;
  height: 48px;
  background-color: #63d1c0;
  margin-top: 5px;
}
.dustbin:before{
  display: block;
  width: 65px;
  content: "";
  height: 10px;
  background-color: #63d1c0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  right: 9px;
}
.dustbin-wrapper{
  display: flex;
  justify-content: center;
  transform: scale(1.5) translate(-50%, -50%);
  position: relative;
  left: 50%;
  top: 50%;
}
.dustbin-wrapper-2{
  display: flex;
  bottom: 54px;
}
.dustbin-design-2{
  margin-left: 5px;
}
.dustbin-design-2:nth-child(1){
  margin-left: 0px;
}
.handle{
  width: 20px;
  height: 20px;
  background-color: #63d1c0;
}
.dustbin-wrapper.blue .dustbin{
  border-color : #63d1c0;
}

.dustbin-wrapper.blue .dustbin-design-2,
.dustbin-wrapper.blue .dustbin-design,
.dustbin-wrapper.blue .dustbin:before, .handle
{
  background-color : #63d1c0;
}

*, :after, :before {
box-sizing: border-box;
position: relative;
}
.recycle-wrapper{
  width: 48px;
  height: 20px;
  background-color: #63d1c0;
  position: absolute;
  top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 10px;
}
.recycle-logo{
  z-index: 1;
  font-size: 20px;
  color: rgb(255 255 255);
}



/* BOLT */

.bolt {
  --bolt: rgb(242, 222, 16);
  width: 65px;
  height: 80px;
  position: relative;
}
.bolt svg {
  position: absolute;
  display: block;
  stroke-width: 4;
  fill: none;
  stroke-linecap: round;
  stroke: var(--bolt);
}
.bolt svg.circle {
  left: 7px;
  top: 100%;
  width: 112px;
  height: 44px;
  stroke-dashoffset: 179px;
  stroke-dasharray: 0px 178px;
}
.bolt svg.line {
  --r: 0deg;
  top: 95%;
  width: 70px;
  height: 3px;
  stroke-dashoffset: 71px;
  stroke-dasharray: 0px 70px;
  transform: rotate(var(--r));
}
.bolt svg.line.left {
  --r: 130deg;
  left: -24px;
}
.bolt svg.line.right {
  --r: 40deg;
  right: -24px;
}
.bolt svg.white {
  --r: 0deg;
  --s: 1;
  top: 30%;
  z-index: 1;
  stroke: #fff;
  stroke-dashoffset: 241px;
  stroke-dasharray: 0px 240px;
  transform: rotate(var(--r)) scaleX(var(--s));
}
.bolt svg.white.left {
  --r: -20deg;
  left: 0;
}
.bolt svg.white.right {
  --r: 20deg;
  --s: -1;
  right: 0;
}
.bolt div {
  display: block;
  position: relative;
}
.bolt div:before, .bolt div:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 44%;
}
.bolt div:before {
  width: 112px;
  height: 112px;
  margin: -56px 0 0 -56px;
  background: #CDD9ED;
  filter: blur(124px);
}
.bolt div:after {
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;
  background: #FFF9BC;
  z-index: 1;
  filter: blur(60px);
}
.bolt div span {
  display: block;
  width: 55px;
  height: 95px;
  background: var(--bolt);
  -webkit-clip-path: polygon(40% 0%, 100% 0, 65% 40%, 88% 40%, 8% 100%, 36% 50%, 0 50%);
          clip-path: polygon(40% 0%, 100% 0, 65% 40%, 88% 40%, 8% 100%, 36% 50%, 0 50%);
}
.bolt.animate div:before, .bolt.animate div:after {
  -webkit-animation: shine 2s ease;
          animation: shine 2s ease;
}
.bolt.animate div span {
  -webkit-animation: morph 2s ease;
          animation: morph 2s ease;
}
.bolt.animate svg.circle {
  -webkit-animation: circle 0.45s cubic-bezier(0.77, 0, 0.175, 1) forwards 1.3s;
          animation: circle 0.45s cubic-bezier(0.77, 0, 0.175, 1) forwards 1.3s;
}
.bolt.animate svg.line {
  -webkit-animation: line 0.45s cubic-bezier(0.77, 0, 0.175, 1) forwards 1.3s;
          animation: line 0.45s cubic-bezier(0.77, 0, 0.175, 1) forwards 1.3s;
}
.bolt.animate svg.white {
  -webkit-animation: white 0.45s cubic-bezier(0.77, 0, 0.175, 1) forwards 1.45s;
          animation: white 0.45s cubic-bezier(0.77, 0, 0.175, 1) forwards 1.45s;
}
.bolt.animate svg.white.right {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

@-webkit-keyframes circle {
  100% {
    stroke-dasharray: 178px 178px;
  }
}

@keyframes circle {
  100% {
    stroke-dasharray: 178px 178px;
  }
}
@-webkit-keyframes white {
  100% {
    stroke-dasharray: 240px 240px;
  }
}
@keyframes white {
  100% {
    stroke-dasharray: 240px 240px;
  }
}
@-webkit-keyframes line {
  100% {
    stroke-dasharray: 70px 70px;
  }
}
@keyframes line {
  100% {
    stroke-dasharray: 70px 70px;
  }
}
@-webkit-keyframes shine {
  30%, 70% {
    opacity: 0;
  }
}
@keyframes shine {
  30%, 70% {
    opacity: 0;
  }
}
@-webkit-keyframes morph {
  12% {
    -webkit-clip-path: polygon(40% 5%, 100% 0, 65% 40%, 65% 40%, 8% 100%, 24% 50%, 24% 50%);
            clip-path: polygon(40% 5%, 100% 0, 65% 40%, 65% 40%, 8% 100%, 24% 50%, 24% 50%);
  }
  24%, 72% {
    -webkit-clip-path: polygon(36% 40%, 82% 40%, 82% 40%, 82% 40%, 36% 71%, 36% 40%, 36% 40%);
            clip-path: polygon(36% 40%, 82% 40%, 82% 40%, 82% 40%, 36% 71%, 36% 40%, 36% 40%);
  }
  84% {
    -webkit-clip-path: polygon(40% 5%, 100% 0, 65% 40%, 65% 40%, 8% 100%, 24% 50%, 24% 50%);
            clip-path: polygon(40% 5%, 100% 0, 65% 40%, 65% 40%, 8% 100%, 24% 50%, 24% 50%);
  }
}
@keyframes morph {
  12% {
    -webkit-clip-path: polygon(40% 5%, 100% 0, 65% 40%, 65% 40%, 8% 100%, 24% 50%, 24% 50%);
            clip-path: polygon(40% 5%, 100% 0, 65% 40%, 65% 40%, 8% 100%, 24% 50%, 24% 50%);
  }
  24%, 72% {
    -webkit-clip-path: polygon(36% 40%, 82% 40%, 82% 40%, 82% 40%, 36% 71%, 36% 40%, 36% 40%);
            clip-path: polygon(36% 40%, 82% 40%, 82% 40%, 82% 40%, 36% 71%, 36% 40%, 36% 40%);
  }
  84% {
    -webkit-clip-path: polygon(40% 5%, 100% 0, 65% 40%, 65% 40%, 8% 100%, 24% 50%, 24% 50%);
            clip-path: polygon(40% 5%, 100% 0, 65% 40%, 65% 40%, 8% 100%, 24% 50%, 24% 50%);
  }
}

