body{
    padding: 0px 40px;
}
.calc-header{
    display: flex;
    flex-direction: column;
    height: 230px;
    background: linear-gradient(to bottom, #368304, #003f4e);
    border-radius: 100px 0px 100px 0px;
    padding: 30px;
    margin-bottom: 100px;
}
.calc-title{
    font-size: 80px;
    margin-bottom: 25px;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
}
.calc-header p{
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}
.calc-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    padding: 30px 30px;
}
.section-heading{
    margin-bottom: 30px;
}
.calculator-module{
    display: flex;
    width: 100%;
    padding: 30px 30px;
}
.calc-quiz{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.calc-form-section{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.calc-meter{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.calc-meters-type{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.oil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/* OIL */
  .water-jar {
    height: 125px;
    width: 60px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #020438;
    border-radius: 10px;
    overflow: hidden;
    }
  .water-jar .water-filling {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    font-size: 12px;
    flex-direction: column;
  }
  .water-jar .water {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
    background: #4D6DE3;
  }
  .water-jar .water_wave {
    width: 200%;
    position: absolute;
    bottom: 100%;
  }
  .water-jar .water_wave_back {
    right: 0;
    fill: #C7EEFF;
    -webkit-animation: wave-back 1.4s infinite linear;
            animation: wave-back 1.4s infinite linear;
  }
  .water-jar .water_wave_front {
    left: 0;
    fill: #4D6DE3;
    margin-bottom: -1px;
    -webkit-animation: wave-front .7s infinite linear;
            animation: wave-front .7s infinite linear;
  }
  
  @-webkit-keyframes wave-front {
    100% {
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
    }
  }
  
  @keyframes wave-front {
    100% {
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
    }
  }
  @-webkit-keyframes wave-back {
    100% {
      -webkit-transform: translate(50%, 0);
              transform: translate(50%, 0);
    }
  }
  @keyframes wave-back {
    100% {
      -webkit-transform: translate(50%, 0);
              transform: translate(50%, 0);
    } 
  }

.calc-result{
    font-size: 30px;
    color: black;
}
.calc-question{
    display: flex;
    flex-direction: column;
}



.the-clients{
    background: #fff;
    height: 800px;
    padding: 30px 30px;
}


.container-table {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.32);
    border-radius: 10px;
}

th,
td {
    padding: 10px;
	background-color: rgba(0, 0, 0, 0.43);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color:rgb(54 131 4);
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(5, 162, 170, 0.587);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(205, 17, 17, 0.2);
				z-index: -1;
			}
		}
	}
}




.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
    margin-bottom: 20px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #212121;
    outline: 0;
    font-size: 12px;
    color: #3c3b3b;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 16px;
    cursor: text;
    top: -12px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 14px;
    color: #9b9b9b;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #3d3d3d;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
  


  .resilt{
    height: 50px;
    border: 1px solid pink;
    border-radius: 10px;
    color: black;
  }



















