
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
  }
  body{
	min-height: 100vh;
	background: url("../images/back.jpg") no-repeat;
	background-size: cover;
	background-position: center;
  }

  .log-container{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	height: 100vh;

  }
  .logo-section{
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
	justify-content: baseline;
  }
  .logo-title{
	font-size: 250px;
	color: white;
	font-weight: 800;
  }
  .logo-title-nav{
	font-size: 40px;
	color: white;
	font-weight: 800;
  }
  .righteous-regular {
	font-family: "Righteous", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .login-section{
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;

  }
  .wrapper{
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .2);
	backdrop-filter: blur(9px);
	color: #fff;
	border-radius: 12px;
	padding: 30px 40px;
	height: 550px;
	position: relative
  }

  .wrapper h1{
	font-size: 36px;
	text-align: center;
  }
  .wrapper .input-box{
	position: relative;
	width: 100%;
	height: 50px;
	margin: 30px 0;
  }
  .wrapper-form{
	display: flex;
	flex-direction: column	;
  }
  .input-box {
	display: flex;
	flex-direction: column;
  }
  .input-box input{
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 40px;
	font-size: 16px;
	color: #fff;
	padding: 20px 45px 20px 20px;
  }
  .input-box input::placeholder{
	color: #fff;
  }
  .input-box i{
	position: absolute;
	right: 20px;
	top: 30%;
	transform: translate(-50%);
	font-size: 20px;
  
  }
  .wrapper .remember-forgot{
	display: flex;
	justify-content: space-between;
	font-size: 14.5px;
	margin: 0px 0 15px;
  }
  .remember-forgot label input{
	accent-color: #fff;
	margin-right: 3px;
  
  }
  .remember-forgot a{
	color: #fff;
	text-decoration: none;
  
  }
  .remember-forgot a:hover{
	text-decoration: underline;
  }
  .wrapper .btn{
	width: 100%;
	height: 45px;
	background: #fff;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	cursor: pointer;
	font-size: 16px;
	color: #333;
	font-weight: 600;
  }
  .wrapper .register-link{
	font-size: 14.5px;
	text-align: center;
	margin: 20px 0 15px;
  
  }
  .register-link p a{
	color: #fff;
	text-decoration: none;
	font-weight: 600;
  }
  .register-link p a:hover{
	text-decoration: underline;
  }

  .invalid-feedback {
    font-size: 13px;
    color: #ffffffd9;
    position: relative;
    margin-left: 20px;
    margin-top: 5px;
  }
.error-field{
	display: flex;
	flex-direction: column;
	height: 50px;
	color: red;
	text-align: center;
	text-transform: capitalize;
	font-weight: 600;
}
.password-toggle-icon {
	cursor: pointer;
  }
  .password-toggle-icon i {
	font-size: 18px;
	line-height: 1;
	transition: color 0.3s ease-in-out;
	margin-bottom: 20px;
  }
.password-toggle-icon i:hover {
	color: #949494;
	cursor: pointer;
  }





  
.bubbly-button {
	font-family: "Helvetica", "Arial", sans-serif;
	display: inline-block;
	font-size: 1em;
	padding: 1em 2em;
	margin-top: 10px;
	margin-bottom: 20px;
	-webkit-appearance: none;
	appearance: none;
	background-color: white;
	color: black;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	position: relative;
	transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
	box-shadow: 0 2px 25px rgba(216, 250, 239, 0.5);
  }
  .bubbly-button:focus {
	outline: 0;
	box-shadow: 1px 1px 20px 20px white;
  }
  .bubbly-button:before, .bubbly-button:after {
	position: absolute;
	content: "";
	display: block;
	width: 140%;
	height: 100%;
	left: -20%;
	z-index: -1000;
	transition: all ease-in-out 0.5s;
	background-repeat: no-repeat;
  }
  .bubbly-button:before {
	display: none;
	top: -75%;
	background-image: radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, transparent 20%, white 20%, transparent 30%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, transparent 10%, white 15%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%);
	background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  .bubbly-button:after {
	display: none;
	bottom: -75%;
	background-image: radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, transparent 10%, white 15%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%);
	background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
  .bubbly-button:active {
	transform: scale(0.9);
	background-color: #ffffff;
	box-shadow: 0 2px 25px rgba(238, 255, 250, 0.2);
  }
  .bubbly-button.animate:before {
	display: block;
	animation: topBubbles ease-in-out 0.75s forwards;
  }
  .bubbly-button.animate:after {
	display: block;
	animation: bottomBubbles ease-in-out 0.75s forwards;
  }
  
  @keyframes topBubbles {
	0% {
	  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
	}
	50% {
	  background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
	}
	100% {
	  background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
	  background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
  }
  @keyframes bottomBubbles {
	0% {
	  background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
	}
	50% {
	  background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
	}
	100% {
	  background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
	  background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
  }




 